body{
   background-image: url("../images/loginbg.jpg");
   
   background-size:cover;
   height:100vh;
}
.sign-in-form{
   
   padding:0;
   background-color: #F0EEF0;
   width:350px;
   height:550px;
   margin:100px auto;
   border-radius: 10px;
   box-shadow: 0 0 1.5em ;
   
}
.form-header{
   
   font-family: 'Merienda', cursive;
   
   text-align: center;
   
   
}
.logo{
   height:150px;

}
.form-group{
   margin:20px;
   font-family: 'Zilla Slab', serif;
   

}
.form-control{
   width:300px;
   height:22px;
   border:1px solid #000000;
   border-radius:5px;
   padding: 2px;
   
}
.btn{
   width:308px;
   background-color: #4a569d;
   
   padding:3px;
   border-color: none;
   margin-bottom:30px;
   
   height:30px;
   border:1px solid #000000;
   text-align: center;
   font-family: 'Arvo', serif;
   font-size: 17px;
   transition: 200ms;
   background-size: 200% auto;
   color: white;            
   
   border-radius: 20px;
}
.btn:hover{
   background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%);
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   transition:all ease-in-out 600ms;
}
.form-group a{
   color:#4A569D;
   text-decoration: none;
   font-weight: bold;
}
.form-group a:hover{
   color:black;
}
.w-txt{
   color:white;
}
.r-txt{
   color:red;
   text-align: center;
   font-size: 20px;
}
.text-center{
   text-align: center;
}
.top-btn{
   text-align: center;
   padding:3px;
   margin-top:40px;
}
.btn-grad {
   
   
   padding: 5px 10px;
   text-align: center;
   font-family: 'Arvo', serif;
   font-size: 17px;
   transition: 200ms;
   background-size: 200% auto;
   color: white;            
   
   border-radius: 10px;
   
 }

 .btn-grad:hover {
   background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%);
   background-position: right center; 
   color: #fff;
   text-decoration: none;
   transition:all ease-in-out 600ms;
 }

/*======================Media Queries==============*/

@media only screen and (max-width:500px){

   .sign-in-form{
   
      padding-bottom:10;
      background-color: #F0EEF0;
      width:250px;
      height:480px;
      margin:40px auto;
      border-radius: 10px;
      box-shadow: 0 0 1.5em ;
      
   }
   
   .logo{
      height:150px;
   
   }
   .form-group{
      margin:10px 20px;
      
      
   
   }
   .form-control{
      width:200px;
      height:22px;
      
      
   }
   .btn{
      width:200px;
      
      height:27px;
      border:1px solid #000000;
      text-align: center;
      font-family: 'Arvo', serif;
      font-size: 16px;
      transition: 200ms;
      background-size: 200% auto;
      color: white;            
      
      border-radius: 20px;
   }
   
   .btn-grad {
   
      margin: 10px;
      padding: 5px 10px;
      text-align: center;
      font-family: 'Arvo', serif;
      font-size: 17px;
      transition: 200ms;
      background-size: 200% auto;
      color: white;            
      
      border-radius: 10px;
      
    }
   
    .btn-grad:hover {
      background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%);
      background-position: right center; 
      color: #fff;
      text-decoration: none;
      transition:all ease-in-out 600ms;
    }
    

}